<%= form_for :course, url: course_index_path do |f| %>
        <p>
            <%= f.label :name %><br>
            <%= f.text_field :name %>
        </p>
       
        

            <%= f.submit %>
        </p>
        <% end %>