<h1>Attendance Tracker</h1>
<p>The log in page would be here</p>

<p>Test Buttons for Student/Teacher view</p>
<%= link_to'Teacher View', new_teacher_attendance_path %>
<%= link_to'Student View', new_student_attendance_path %>
