/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
  position: relative;
  top: -17px;
}

header h1 {
  color: #3498db;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #f2f2f2;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

footer {
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 15px;
  width: 98%;
  padding-top: 2px;
  padding-left: 15px;
  padding-bottom: 15px;
  background: #f2f2f2;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

body {
  background: -webkit-linear-gradient(right, #3498db, #8DC26F);
  background: -moz-linear-gradient(right, #3498db, #8DC26F);
  background: -o-linear-gradient(right, #3498db, #8DC26F);
  background: linear-gradient(to left, #3498db, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}