// Place all the styles related to the teacherAttendance controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  color: white;
  font-family: "Roboto", sans-serif;
}

#generator {
  position: relative;
  text-align: center;
  top: 50%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 108px;
  white-space: nowrap;
}
