<header>
  <h1>New Student Enrollment</h1>
</header>

<%= form_for :teacher_attendance do |f| %>
  <p>
    <h2><center>Show this <b>code</b> to the students to enroll in your course:</center></h2>
  </p>
 
<button type="Button" onclick="randomGenerator()">Random Code</button>
<p id="generator"></p>


<script>
function randomGenerator() {
  
  var x = document.getElementById("generator")
    
  var captcha = "";
  var possible = "ABCDEFGHIJKLMNPQRSTUVWXYZ123456789";

  for (var i = 0; i < 10; i++)
    captcha += possible.charAt(Math.floor(Math.random() * possible.length));

   x.innerHTML = captcha;
  
}
</script>
  
 
  <p>
    <%= link_to '<button type="button">Finish</button>'.html_safe, welcome_index_path %>
  </p>
<% end %>