<h1>New Student Enrollment</h1>


<%= form_for :teacher_attendance do |f| %>
  <p>
    <h2><center>Show this <b>code</b> to the students to enroll in your course:</center></h2>
  </p>
 
  <p>
    *This is where we insert our code generator*
  </p>
  
 
  <p>
    <%= f.submit "Finish"%>
  </p>
<% end %>