<header>
  <h1>New Student Enrollment</h1>
</header>

<%= form_for :teacher_attendance do |f| %>
  <p class="coursetext">
    <h2><center>Show this <b>code</b> to the students to enroll in your course:</center></h2>
  </p>
 
<script>
function randomGenerator() {
  var x = document.getElementById("generator")
  var captcha = "";
  var possible = "ABCDEFGHIJKLMNPQRSTUVWXYZ123456789";
  for (var i = 0; i < 10; i++)
    captcha += possible.charAt(Math.floor(Math.random() * possible.length));
   x.innerHTML = captcha;
}
</script>

<p id="generator"></p>
<button type="Button" onclick="randomGenerator()" class="otherButtons">RANDOM CODE</button>


<% end %>

