<div class="home-screen">
     <body>
        <div class="heading">
            <span class="title">Attendance Tracker</span>
            <span class="motto">Attendance Tracking Made Easy!</span>
            <div class="buttons">
                <%= link_to "LOGIN".html_safe, new_user_session_path, :class=>"login" %>
                <%= link_to "REGISTER" .html_safe, new_user_registration_path, :class=>"register"%>
            </div>
        </div>
    </body>
</div>

